/* Error: Undefined variable.
 *    ,
 * 59 |         background-color: import.$color-lightgreen;
 *    |                           ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\layouts\_header.scss 59:27  @content
 *   scss\_mixin.scss 9:5             mq()
 *   scss\layouts\_header.scss 32:1   @use
 *   scss\common.scss 7:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 59 \2502          background-color: import.$color-lightgreen;\a    \2502                            ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\layouts\\_header.scss 59:27  @content\a   scss\\_mixin.scss 9:5             mq()\a   scss\\layouts\\_header.scss 32:1   @use\a   scss\\common.scss 7:1             root stylesheet";
}
