@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  min-width: 375px;
  width: 100%;
  overflow-x: hidden;
  letter-spacing: 0;
}

table {
  border-collapse: separate;
  border-spacing: 1px;
}

.visible-pc {
  display: none;
}

@media screen and (min-width: 1250px) {
  .visible-pc {
    display: block;
  }
  .visible-sp {
    display: none;
  }
}
.l-index-header {
  position: absolute;
}
.l-index-header .l-index-header__title {
  margin-top: 24.59px;
  margin-left: 20px;
}

@media screen and (min-width: 1250px) {
  .l-index-header .l-index-header__title {
    margin-left: 3.143vw;
  }
}
.l-index-footer {
  position: sticky;
  bottom: 0vh;
  width: 100%;
  height: 54px;
}
.l-index-footer .l-index-footer__link-wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.l-index-footer .l-index-footer__link {
  display: block;
  width: 100%;
  height: 54px;
  font-size: 1rem;
  background-color: #45ccc4;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2ch;
  border-right: 1px solid #fff;
}
.l-index-footer .l-index-footer__link:last-child {
  border: none;
}
.l-index-footer .l-index-footer__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 9px;
  height: 9px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translate(0, 0) rotate(45deg);
}
.l-index-footer .l-index-footer__link:hover {
  filter: brightness(1.5);
}

@media screen and (min-width: 1250px) {
  .l-index-footer {
    height: 76px;
  }
  .l-index-footer .l-index-footer__link {
    height: 76px;
    font-size: 2rem;
  }
  .l-index-footer .l-index-footer__link::before {
    width: 10px;
    height: 10px;
  }
}
@media screen and (min-width: 1250px) {
  .l-index-sidebar .l-index-sidebar__side-button {
    background-color: #45ccc4;
    width: 48px;
    height: 210px;
    position: fixed;
    right: 0;
    top: 5vh;
    writing-mode: vertical-rl;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .l-index-sidebar .l-index-sidebar__side-button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    color: #000;
    line-height: 1;
    width: 10px;
    height: 10px;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translate(0, -20px) rotate(45deg);
  }
  .l-index-sidebar .l-index-sidebar__side-button:hover {
    filter: brightness(1.75);
  }
}
.c-container-title {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 89.744vw;
  max-width: 840px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.p-index-fv .p-index-fv__img-wrapper {
  width: 100vw;
}
.p-index-fv .p-index-fv__img-wrapper img {
  width: 100%;
}
.p-index-fv .p-index-fv__text {
  position: absolute;
  top: 40px;
  left: 0;
  transform: scale(0.5, 0.5) translateX(-170px);
}
.p-index-fv .p-index-fv__button {
  position: absolute;
  top: 214px;
  left: 0;
  transform: scale(0.6, 0.6) translateX(-80px);
}
.p-index-fv .p-index-fv__circle {
  position: absolute;
  right: 0vw;
  top: 315px;
  transform: scale(0.62, 0.62) translateX(60px);
}

@media screen and (min-width: 1250px) {
  .p-index-fv .p-index-fv__text {
    top: 132px;
    left: 3.143vw;
    transform: scale(1, 1) translateX(0);
  }
  .p-index-fv .p-index-fv__button {
    top: 352px;
    left: 3.143vw;
    transform: scale(1, 1) translateX(0);
  }
  .p-index-fv .p-index-fv__circle {
    position: absolute;
    right: 2vw;
    top: 536px;
    transform: scale(1, 1) translateX(0);
  }
}
.p-index-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}
.p-index-course .p-index-course__wrapper1 {
  margin-top: 72px;
  padding-bottom: 37.54px;
  transform: scale(0.5, 0.5);
}
.p-index-course .p-index-course__wrapper2 {
  background-color: rgba(69, 204, 196, 0.5);
  width: 100vw;
}
.p-index-course .p-index-course__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  transform: translateY(-150px);
}
.p-index-course .p-index-course__svg-red {
  transform: scale(0.82, 0.82);
}
.p-index-course .p-index-course__svg-blue {
  transform: scale(0.82, 0.82);
}
.p-index-course .p-index-course__img-wrapper {
  position: relative;
  margin-top: 10px;
  padding-bottom: 20px;
}
.p-index-course .p-index-course__img-wrapper img {
  clip-path: circle(50% at 50% 50%);
}
.p-index-course .p-index-course__img-wrapper::before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  width: 1px;
  height: 80px;
  right: 50%;
  transform: translateY(-60px);
  z-index: 1;
}
.p-index-course .p-index-course__text {
  width: 304px;
  font-weight: bold;
}
.p-index-course .p-index-course__svg-text {
  margin-top: 44.2px;
  transform: scale(0.5, 0.5);
}
.p-index-course .p-index-course__svg-table {
  transform: scale(0.6, 0.6);
}

@media screen and (min-width: 1250px) {
  .p-index-course .p-index-course__wrapper1 {
    margin-top: 90px;
    padding-bottom: 50.32px;
    transform: scale(1, 1);
    height: 524px;
  }
  .p-index-course .p-index-course__wrapper2 {
    display: grid;
    grid-template-columns: 450px 450px;
    align-items: center;
    justify-content: center;
  }
  .p-index-course .p-index-course__svg-red {
    transform: scale(1, 1);
  }
  .p-index-course .p-index-course__svg-blue {
    transform: scale(1, 1);
  }
  .p-index-course .p-index-course__img-wrapper {
    position: relative;
    margin-top: 39.92px;
  }
  .p-index-course .p-index-course__img-wrapper::before {
    transform: translateY(-65px);
  }
  .p-index-course .p-index-course__text {
    width: 304px;
    font-weight: bold;
  }
  .p-index-course .p-index-course__svg-text {
    margin-top: 0;
    transform: scale(1, 1);
  }
  .p-index-course .p-index-course__svg-table {
    margin-top: 30.2px;
    transform: scale(1, 1);
  }
  .p-index-course .p-index-course__container3 {
    transform: translate(250px, -100px);
  }
}
.p-index-curriculum .p-index-curriculum__wrapper1 {
  background-color: #e9eff1;
}
.p-index-curriculum .p-index-curriculum__wrapper1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
  transform: translateY(-80px);
}
.p-index-curriculum .p-index-curriculum__text {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 26px;
  padding-bottom: 50px;
}
.p-index-curriculum .p-index-curriculum__list {
  padding-bottom: 30px;
}
.p-index-curriculum .p-index-curriculum__wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 253px repeat(2, 83px);
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-course {
  height: 17px;
  background-color: #eb4e45;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-curriculum .p-index-curriculum__wrapper2-img-wrapper {
  height: 180px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-img-wrapper img {
  margin-top: 10px;
  width: 100%;
}
.p-index-curriculum .p-index-curriculum__wrapper2-text {
  margin-top: 25px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.78;
}
.p-index-curriculum .p-index-curriculum__wrapper2-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(1) {
  grid-area: 1/1/2/5;
}
.p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(2) {
  grid-area: 2/1/3/5;
}
.p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(3) {
  grid-area: 3/1/4/5;
}
.p-index-curriculum .p-index-curriculum__wrapper2-description {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(1) .p-index-curriculum__wrapper2-description {
  padding: 0;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container2 {
  width: 126px;
  margin: 0 auto;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container2::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  color: #000;
  line-height: 1;
  width: 10px;
  height: 10px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translate(130px, -20px) rotate(45deg);
}
.p-index-curriculum .p-index-curriculum__wrapper2-other {
  border-bottom: 1px solid #000;
  font-size: 1.4rem;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container3 {
  background-color: #ecfcfb;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container3-svg {
  margin-top: 25px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container3-img-wrapper {
  transform: translate(150px, -50px);
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4 {
  background-color: #ecfcfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-svg {
  transform: translate(-100px, -30px);
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  transform: translate(0, -30px);
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-text {
  font-size: 1.4rem;
  line-height: 1.79;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-text-title {
  font-weight: bold;
  padding-bottom: 21px;
  font-size: 1.7rem;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-text span {
  font-weight: bold;
  background-color: #fff100;
}
.p-index-curriculum .p-index-curriculum__wrapper2-container4-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.p-index-curriculum .p-index-curriculum__wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
}
.p-index-curriculum .p-index-curriculum__wrapper3-text {
  font-size: 1.4rem;
  margin-top: 25px;
  line-height: 1.78;
}
.p-index-curriculum .p-index-curriculum__wrapper3-img-wrapper {
  margin-top: 40px;
  width: 100vw;
}
.p-index-curriculum .p-index-curriculum__wrapper3-img-wrapper img {
  width: 100%;
}
.p-index-curriculum .p-index-curriculum__wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
}
.p-index-curriculum .p-index-curriculum__wrapper4-text {
  text-align: start;
  margin-top: 25px;
  font-size: 1.4rem;
  line-height: 1.78;
}
.p-index-curriculum .p-index-curriculum__wrapper4-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-curriculum .p-index-curriculum__wrapper4-lists {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: repeat(8, 156px) 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}
.p-index-curriculum .p-index-curriculum__wrapper4-list {
  background-color: #f5f5f5;
  width: 260px;
  height: 156px;
  padding: 20px 18px 20px 20px;
}
.p-index-curriculum .p-index-curriculum__wrapper4-label {
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  width: 40px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-curriculum .p-index-curriculum__wrapper4-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.4rem;
}
.p-index-curriculum .p-index-curriculum__wrapper4-list-text {
  width: 225px;
  height: 62px;
  font-size: 1.4rem;
  margin-top: 10px;
}
.p-index-curriculum .p-index-curriculum__wrapper4-container2 {
  width: 126px;
  margin: 0 auto;
}
.p-index-curriculum .p-index-curriculum__wrapper4-container2::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  color: #000;
  line-height: 1;
  width: 10px;
  height: 10px;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translate(130px, -20px) rotate(45deg);
}
.p-index-curriculum .p-index-curriculum__wrapper4-other {
  border-bottom: 1px solid #000;
  font-size: 1.4rem;
}
.p-index-curriculum .p-index-curriculum__wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-text {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 40px;
  line-height: 1.78;
}
.p-index-curriculum .p-index-curriculum__wrapper5-img-wrapper {
  margin-top: 25px;
  padding-bottom: 60px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-img-wrapper img {
  width: 100%;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container {
  background: url(/img/component/グループ\ 73.svg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  max-width: 840px;
  width: 100%;
  height: 240px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container:nth-child(7) {
  margin-top: 30px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container-img-wrapper {
  margin-left: 10px;
  width: 90px;
  height: 90px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container-img-wrapper img {
  clip-path: circle(50% at 50% 50%);
}
.p-index-curriculum .p-index-curriculum__wrapper5-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container-result {
  font-weight: bold;
  background-color: #fff;
  width: 219px;
  height: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container-name {
  font-weight: bold;
  margin-top: 25px;
}
.p-index-curriculum .p-index-curriculum__wrapper5-container-text {
  margin-top: 25px;
  line-height: 1.5;
  max-width: 390px;
  height: 69px;
  font-size: 1.3rem;
}
.p-index-curriculum .p-index-curriculum__wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 120px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-text {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-top: 25px;
  font-size: 1.4rem;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 240px);
  grid-gap: 50px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-list {
  width: 240px;
  height: 160px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.p-index-curriculum .p-index-curriculum__wrapper6-list::after {
  content: "";
  width: 260px;
  height: 180px;
  background-color: #ecfcfb;
  z-index: -1;
  position: absolute;
}
.p-index-curriculum .p-index-curriculum__wrapper6-container {
  background-color: #ecfcfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-container-svg {
  transform: translate(-100px, -30px);
}
.p-index-curriculum .p-index-curriculum__wrapper6-container-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  transform: translate(0, -30px);
}
.p-index-curriculum .p-index-curriculum__wrapper6-container-text {
  font-size: 1.4rem;
  line-height: 1.79;
}
.p-index-curriculum .p-index-curriculum__wrapper6-container-text span {
  font-weight: bold;
  background-color: #fff100;
}
.p-index-curriculum .p-index-curriculum__wrapper6-container-text-title {
  font-weight: bold;
  padding-bottom: 21px;
  font-size: 1.7rem;
}
.p-index-curriculum .p-index-curriculum__wrapper6-title {
  margin-top: 40.58px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2:nth-of-type(2) {
  margin-top: 14px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2-list {
  font-weight: bold;
  position: relative;
  margin-left: 15px;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2-list span {
  color: #45ccc4;
}
.p-index-curriculum .p-index-curriculum__wrapper6-lists2-list:nth-child(3n+1) {
  margin: 0;
}

@media screen and (min-width: 1250px) {
  .p-index-curriculum .p-index-curriculum__wrapper2 {
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 253px 83px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(2) {
    grid-area: 2/2/3/3;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-lists:nth-child(3) {
    grid-area: 2/3/3/4;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-container4-svg {
    transform: translate(-330px, -30px);
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-container4-sub-container {
    flex-direction: row;
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-container4-text {
    width: 518px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper2-container4-img-wrapper {
    margin-left: 68px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper3-text {
    text-align: center;
  }
  .p-index-curriculum .p-index-curriculum__wrapper4 {
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper4-text {
    text-align: center;
    margin-top: 25px;
    width: 490px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper4-lists {
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: repeat(3, 156px);
  }
  .p-index-curriculum .p-index-curriculum__wrapper5 {
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper5-container-img-wrapper {
    margin-left: 110px;
    width: 180px;
    height: 180px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper5-sub-container {
    margin-left: 130px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6 {
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-lists {
    grid-template-columns: repeat(3, 240px);
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-container-svg {
    transform: translate(-330px, -30px);
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-container-sub-container {
    flex-direction: row;
    width: 100%;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-container-text {
    width: 518px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-container-img-wrapper {
    margin-left: 68px;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-lists2 {
    font-size: 1.6rem;
  }
  .p-index-curriculum .p-index-curriculum__wrapper6-lists2-list {
    margin-left: 40px;
  }
}
.p-index-sns {
  background-image: url(/img/pc/リピートグリッド-4.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .p-index-sns .p-index-sns {
    background-image: url(/img/pc/リピートグリッド-4@2x.webp);
  }
}
.p-index-sns .p-index-sns__title {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 350px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 51px;
}
.p-index-sns .p-index-sns__timeline {
  margin-top: 41px;
}
.p-index-sns .p-index-sns__follow-wrapper {
  padding-bottom: 30px;
}
.p-index-sns .p-index-sns__follow {
  width: 200px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.p-index-sns .p-index-sns__follow:hover {
  background-color: #45ccc4;
  color: #fff;
}

@media screen and (min-width: 1250px) {
  .p-index-sns .p-index-sns__title {
    width: 100%;
    max-width: 930px;
  }
}

/*# sourceMappingURL=common.css.map */
