@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// courseセクション
.p-index-course {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1ch;
  .p-index-course__wrapper1{
		margin-top: 72px;
		padding-bottom: 37.54px;
		transform: scale(0.5,0.5);
  }
	.p-index-course__wrapper2{
		background-color: rgba(69,204,196,0.5);
		width: 100vw;
	}
	.p-index-course__container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1ch;
		transform: translateY(-150px);
	}
	.p-index-course__svg-red{
		transform: scale(0.82,0.82);
	}
	.p-index-course__svg-blue{
		transform: scale(0.82,0.82);
	}

	.p-index-course__img-wrapper{
		position: relative;
		margin-top: 10px;
		padding-bottom: 20px;
		img{
		clip-path: circle(50% at 50% 50%);
	}
	&::before{
		content:"";
		position: absolute;
		border: 1px solid import.$color-black;
		width: 1px;
		height: 80px;
		right: 50%;
		transform: translateY(-60px);
		z-index: 1;
	}

	}
	.p-index-course__text{
		width: 304px;
		font-weight: bold;
	}
	.p-index-course__svg-text{
		margin-top: 44.2px;
		transform: scale(0.5,0.5);
	}
	.p-index-course__svg-table{
		transform: scale(0.6,0.6);
	}
}

@include m.mq(pc) {
	.p-index-course {
		.p-index-course__wrapper1{
			margin-top: 90px;
			padding-bottom: 50.32px;
			transform: scale(1,1);
			height: 524px;
		}
		.p-index-course__wrapper2{
			display: grid;
			grid-template-columns: 450px 450px;
			align-items: center;
			justify-content: center;
		}
		.p-index-course__svg-red{
			transform: scale(1,1);
		}
		.p-index-course__svg-blue{
			transform: scale(1,1);
		}
		.p-index-course__img-wrapper{
			position: relative;
			margin-top: 39.92px;
		&::before{
			transform: translateY(-65px);
		}
	}
		.p-index-course__text{
			width: 304px;
			font-weight: bold;
		}
		.p-index-course__svg-text{
			margin-top: 0;
			transform: scale(1,1);
		}
		.p-index-course__svg-table{
			margin-top: 30.2px;
			transform: scale(1,1);
		}
		.p-index-course__container3{
			transform: translate(250px,-100px);
		}

	}
}