@use "../foundation/import";
@use "../mixin" as m;
// Base (Mobile First)

// headerセクション
.l-header {
  position: absolute;
  .l-header__title {
    margin-top: 24.59px;
    margin-left: 20px;
  }
}

@include m.mq(pc) {
  .l-header {
    .l-header__title {
      margin-left: 3.143vw;
    }
  }
}
